/* ============== GERAL ============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-dark-green: #034350;
    --color-green: #2f9364;
    --color-orange: #ff7c37;
    --color-yellow: #d4f70a;

    --color-bgrd: #1a2941ca;

    --color-p: #a1a1a1;
    --color-p-2: #868585;
    --color-white: #fff;
    --color-black: #000000;

    font-size: 62.5%;

    --nav-height: 7.2rem;

    /* Others colors */

    --color-brand-green-hover: #004539;
    --color-primary-colors-brand-green: #00856f;
    --color-primary-colors-brand-green-light: #dce9e2;
    --color-primary-colors-brand-green-light-02: #f7f9f9;
    --color-primary-colors-brand-beige: #fffaf1;
    --color-secondary-colors-gray-headline: #212529;
    --color-secondary-colors-gray-paragraph: #495057;
    --color-secondary-colors-white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;

    background: var(--color-primary-colors-brand-green-light);
}

body {
    font-size: 1.6rem;
    text-align: center;

    overflow: overlay;
}

/* ============== CLASSES GERAIS ============== */
.wrapper {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;

}

/* PADRÃO DE IMAGEM */
img {
    max-width: 100%;
}

section {
    padding-block: 10rem;
}

section header h4 {
    font-size: 1.4rem;
    color: var(--color-green);
    margin-bottom: 1.6rem;

    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;

    color: var(--color-secondary-colors-gray-headline);
}

section header h1 {
    font-size: 3.4rem;
    line-height: 130%;
    color: var(--color-black);

    margin-bottom: 2.4rem;
}

section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--color-secondary-colors-gray-paragraph);
}

.button {
    background-color: var(--color-primary-colors-brand-green);

    border: none;
    border-radius: 4rem;

    margin-bottom: 6rem;

    padding: 1.6rem 3.2rem;
    width: fit-content;

    color: var(--color-white);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    transition: all ease .3s;
}
.button:hover {
    background-color: var(--color-brand-green-hover);
}

/* ============== INICIO NAVIGATION ============== */
nav {
    display: flex;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    width: 100vw;
    
    z-index: 100;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav i {
    color: var(--color-black);
    cursor: pointer;
    font-size: 2.8rem;
}

nav.scroll {
    background:var(--color-primary-colors-brand-green);
}

nav.scroll .logo {
    color: var(--color-white);
}

nav .logo {
    font-size: 1.6rem;
    color: var(--color-black);
    font-weight: bold;
}

nav .logo span {
    color: var(--color-orange);
}

nav ul li i {
    color: var(--color-white);
    font-size: 2.8rem;
    cursor: pointer;
}

nav.scroll i {
    color: var(--color-white);
    font-size: 2.8rem;
    cursor: pointer;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}


/* ============== INICIO MENU EXPANDED ============== */
body.menu-expanded{
    overflow: hidden;
}

body.menu-expanded > :not(nav) {
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    transform: translateY(100%);
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-primary-colors-brand-green);

    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);

    transition:transform 350ms;
    transform: translateY(0%);
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;

}

.menu ul li a {
    color: var(--color-white);
}

.menu .button {
    background-color: var(--color-white);
    border-radius: 14rem;
    border-width: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    
    color: var(--color-primary-colors-brand-green);

    display: inline-block;

    padding: 1.0rem 3.2rem;


    margin-top: 4.8rem;
    margin-bottom: 8rem;

}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

body.menu-expanded .logo,
button.close-menu i {
    position: relative;
    z-index: 100;
    color: var(--color-white);
    cursor: pointer;
}

body.menu-expanded button.close-menu i {
    color: var(--color-white);
    font-size: 2.8rem;
    cursor: pointer;
}


/* ============== INICIO HOME ============== */
#home {
    padding-top: calc(4.1rem + var(--nav-height));

}

#home::before {
    content: '';
    width: 100%;
    height: calc(108rem + var(--nav-height));
    background-color: var(--color-primary-colors-brand-green-light);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home .button {
    margin-inline: auto;
}

#home h1 span {
    color: var(--color-dark-green);
}

#home p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--color-p);
    margin-bottom: 3.2rem;
}

.home-card img {
    width: 6.0rem;
    height: auto;
    margin-bottom: .4rem;
}

.home-card h3 {
    font-size: 2.8rem;
    color: var(--color-primary-colors-brand-green);
    line-height: 130%;
}

#home .home-img {
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 0.6rem;
}

.home-cards {
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;

    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 6rem;

    background-color: var(--color-primary-colors-brand-beige);
    border: 1px solid var(--color-primary-colors-brand-green-light);
    border-radius: 1.2rem;
}


/* ============== INICIO SERVICES ============== */
#services h2 {
    margin-bottom: 6rem;
}

#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card {
    padding: 2.4rem;
    text-align: left;

    background-color: var(--color-white);

    border: 1px solid var(--color-primary-colors-brand-green-light);
    border-radius: 1rem;
}

#services .card i {
    font-size: 2.4rem;
    background-color: transparent;
    color: var(--color-primary-colors-brand-green);
    
}
#services .card h4 {
    margin-block: 1.6rem;
}


/* ============== INICIO ABOUT ============== */
#about {
    text-align: left;
    background-color: var(--color-primary-colors-brand-beige);
}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about .content p {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
    text-align: justify;
}

#about .content img {
    border-radius: 12px;
}
/* ============== FIM ABOUT ============== */

/* ============== INICIO CONTATO ============== */
#contato {
    text-align: left;
}

#contato header {
    margin-bottom: 3.2rem;
}

#contato ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#contato ul li {
    display: flex;
    align-items: center;
    gap: 0.8rem
}




/* ============== FIM CONTATO ============== */

