/* ============== GERAL ============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-dark-green: #034350;
    --color-green: #2f9364;
    --color-orange: #ff7c37;
    --color-yellow: #d4f70a;

    --color-bgrd: #1a2941ca;

    --color-p: #a1a1a1;
    --color-p-2: #868585;
    --color-white: #fff;
    --color-black: #000000;


    font-size: 62.5%;

    --nav-height: 7.2rem;



    /* Others colors */
    
    --color-brand-green-hover: #004539;
	--color-primary-colors-brand-green: #00856f;
	--color-primary-colors-brand-green-light: #dce9e2;
	--color-primary-colors-brand-green-light-02: #f7f9f9;
	--color-primary-colors-brand-beige: #fffaf1;
	--color-secondary-colors-gray-headline: #212529;
	--color-secondary-colors-gray-paragraph: #495057;
	--color-secondary-colors-white: #ffffff;
}

body {
    font-size: 1.6rem;
    text-align: center;
}

/* ============== CLASSES GERAIS ============== */
.wrapper {
    width: 37.5rem;
    margin-inline:auto;
    padding-inline: 2.4rem;

}

/* ============== INICIO HEADER ============== */
header {
    margin-top: calc(4.1rem + var(--nav-height));
    
}

header::before {
    content: '';
    width: 100vw;
    height: calc(108rem + var(--nav-height));
    background-color:var(--color-primary-colors-brand-green-light);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header h1 {
    font-size: 3.4rem;
    line-height: 130%;
    color: var(--color-black);
    margin-bottom: 2.4rem;
}

header h1 span {
    color: var(--color-dark-green);
}

header h4 {
    font-size: 1.4rem;
    color: var(--color-green);
    margin-bottom: 1.6rem;
}

header p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--color-p);
    margin-bottom: 3.2rem;    
}

header button {
    background-color: var(--color-primary-colors-brand-green);


    border: none;
    border-radius: 4rem;
    /* margin-bottom: 6rem; */
    height: 6.2rem;
    width: 26.3rem;

    color: var(--color-white);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin: 6rem auto;
}

.home-card img {
    width: 6.0rem;
    height: auto;
    margin-bottom: .4rem;
}
.home-card h3 {
    font-size: 2.8rem;
    color: var(--color-primary-colors-brand-green);
    line-height: 130%;
}

header .home-img {
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 0.6rem;
}

.home-cards {
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;

    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 6rem;

    background-color: var(--color-primary-colors-brand-beige);
    border: 1px solid var(--color-primary-colors-brand-green-light);
    border-radius: 0.6rem;
}


/* ============== INICIO NAVIGATION ============== */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


