* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-dark-green: #034350;
    --color-green: #2f9364;
    --color-orange: #ff7c37;
    --color-yellow: #d4f70a;

    --color-bgrd: #1a2941ca;

    --color-p: #a1a1a1;
    --color-p-2:#868585;
    --color-white: #fff;
    --color-black:#000000;
    
}

body, html {
    height: 100%;
    background-color: var(--color-bgrd);
    color: var(--color-white);
    font-size: 0.96rem;
    font-weight: 300;
}

/* Inicio do Header  */
header {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 0 0 10px 10px;
    border-bottom: rgba(255, 255, 255, 0.08) solid 1px;
    margin:  0 7px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    width: calc(100% - 14px);
}
.logo {
    display: inline-block;
    padding: 6px 15px;

}
.logo a{
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.1rem;
}
.logo span {
    color: var(--color-orange);
}

#chk-toggle {
    display: none;
}
#toggle {
    display: inline-block;
    padding: 20px;
}
#toggle span {
    display: block;
    width: 22px;
    height: 3px;
    
    
    background: var(--color-p-2);
}
nav {
    flex-basis: 100%;
    height: 0;
    overflow: hidden;
}
#chk-toggle:checked ~ nav {
    height: auto;
}
nav ul {
    margin: 0 15px;
}
nav ul li {
    border-bottom: rgba(255, 255, 255, 0.06) solid 1px;
}
nav ul li:nth-last-child(1){
    border-bottom: none;
}
nav a {
    color: var(--color-orange);
    display: block;
    text-align: center;
    font-size: 0.99rem;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    transition: all ease-in-out .3s;
}
nav a:hover {
    color: var(--color-white);
}

/* INCIO HOME */
.home {
    height: 80%;
    display: flex;
    justify-content: center;
    margin: 0 14px;

    flex-direction: column;
    align-items: center;    
    text-align: center;
}
.main-texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.main-texto h1 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    line-height: 2.3rem;
}
.main-texto h1 span{
    color: var(--color-orange);
}
.main-texto h3 {
    color: var(--color-white);
}
.main-texto p {
    font-size: 12px;
    color: var(--color-p);
}
.home .main-buttons .main-btn {
    background-color: var(--color-white);
    width: 105px;
    height: 2.5vh;
    font-size: 12px;
    color: var(--color-orange);
    font-weight: 600;
    border: none;
    margin-bottom: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: all ease-in-out .3s;
}
.home .main-buttons .main-btn:hover {
    background-color: transparent;
    color: var(--color-white);
}
.main-img {
    width: 50%;
}
.main-img img {
    width: 100%;
    border-radius: 12px;
}

/* INCIO ABOUT */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.about .about-text h2 {
    color: var(--color-orange);
    margin-bottom: 10px;
}

.about .about-text p {
    color: var(--color-white);
    text-align: justify;
    margin-bottom: 20px;
}
.about-img {
    width: 80%;
    
}
.about-img img {
    width: 100%;
    border-radius: 8px;
}

/* INICIO SERVIÇOS */
section .servicos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

